{{define "content"}}
<style>
.errors { margin: 0 0 16px; padding: 10px 14px; border: 1px solid #a3212b; border-left-width: 5px; background: #fbe7e8; }
.errors ul { margin: 6px 0 0; }
a.button { display: inline-block; padding: 5px 14px; border: 1px solid #b9b19a; border-radius: 3px; background: #ece7d6; color: #241c14; }
</style>

{{if .Page.Done}}
<div class="banner" id="passwordupdated">Your password was updated.</div>
{{end}}

{{if .Page.Errors}}
<div class="errors">
	<p>Please correct the following:</p>
	<ul>{{range .Page.Errors}}<li>{{.}}</li>{{end}}</ul>
</div>
{{end}}

<p>Use the form below to update your password. You must enter your old password first.</p>

<form id="passwordForm" method="post" action="/admin/password">
	<table id="passwordtable">
		<tr>
			<td><label for="oldpassword">Old Password</label></td>
			<td><input type="password" id="oldpassword" name="oldpassword" value="" maxlength="255" size="40"></td>
		</tr>
		<tr>
			<td><label for="password">New Password</label></td>
			<td><input type="password" id="password" name="password" value="" maxlength="255" size="40"></td>
		</tr>
		<tr>
			<td><label for="password2">Confirm Password</label></td>
			<td><input type="password" id="password2" name="password2" value="" maxlength="255" size="40"></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a class="button" id="cancel" href="/admin/">Cancel</a>
				<input type="submit" name="update" value="Update">
			</td>
		</tr>
	</table>
</form>
{{end}}
